.complete-task{
    
    text-decoration: line-through;
}

.taskBar{
    border: solid black;
    border-width: 2px;
    background-color: bisque;
    display: inline-block;
    padding: 10px;
    user-select: none;
}