nav {
  background-color:darkslateblue;
  display: flex;
  padding: 1rem;
  gap: 1rem;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 1rem;
}

a:link{
    color:floralwhite;
    text-decoration: none;
}

a:visited{
    color:floralwhite;
    text-decoration: none;
}