.task-form{
    display: flex;
    justify-content: center;
    background-color:bisque;
    height: 50px;
    border: solid black;
    margin: 0px 20px;
    align-items: center;
    width: 50vw;
    margin: auto;
    min-width: 290px;
    
}

.form-row{
    display: flex;
    gap: 5px;
}

.task-form-submit{
    border-radius: 4px;
    width: 35px;
    background-color: rgb(237, 230, 221);
    user-select: none;
    box-shadow: 2px 2px 2px rgb(96, 86, 73)
}

.task-form-submit:hover{
    background-color: aquamarine;
}