.task-form{
    display: flex;
    justify-content: center;
    background-color:bisque;
    height: 70px;
    border: solid black;
    margin: 0px 20px;
    align-items: center;
}

.form-row{
    display: flex;
    gap: 5px;
}

button{
    border-radius: 4px;
    width: 35px;
    background-color: rgb(237, 230, 221);
    user-select: none;
    box-shadow: 2px 2px 2px rgb(96, 96, 96)
}